<%- include('partials/header'),{user : user} %>
<%- include("partials/nav"),{user : user}%>

<link rel="stylesheet" href="/styles/logSign.css">

<section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form method="post" action="/user/" enctype="multipart/form-data" role="form" data-toggle="validator" diasbled  onsubmit="return validateSubmit()">
                
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3 justify-content-center">Create New PAssword</p>
                        </div>
                        <div class="divider d-flex align-items-center my-4">
                                <p class="text-center fw-bold mx-3 mb-0"></p>
                        </div>
                        <div class="d-flex justify-content-center">
                          <%if(user.name){%>
                          <h5 class="text-success m-2">Hello <%user.name%></h5>
                          
                        </div>
                        

                        
              
                        <!-- Password input -->
                        <div class="form-outline mb-3">
                          <label class="form-label" for="password">Password</label>
                          <input required="required" type="password" name="password" id="password" class="form-control form-control-lg"
                            placeholder="Enter password" />                         
                          <div class="invalid-feedback">
                            A password must be between 8 to 15 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character
                        </div>
                        <div class="valid-feedback">
                            Valid
                        </div>
                        </div>
                        
                        <!--Confirm Password-->
                        <div class="form-outline mb-3">
                          <label class="form-label" for="password">Confirm Password</label>
                          <input required="required" type="password" id="rePassword" class="form-control form-control-lg"
                            placeholder="Confirm password" />                        
                          <div class="invalid-feedback">
                            It should be same as your password
                        </div>
                        <div class="valid-feedback">
                            Valid
                        </div>
                        </div>
                        
                        <div class="text-center text-lg-start mt-4 pt-2">
                          <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Create Password</button>
                        </div>
              
                      </form>
                    </div>
                  </div>
                </div>
                </section>

<script src="/scripts/forgot.js"></script>

<%- include('partials/footer'); %>