<%- include('partials/header'),{user : user} %>
<%- include("partials/nav"),{user : user}%>
<link rel="stylesheet" href="/public/styles/logSign.css">

<section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form method="post" action="/user/signup" enctype="multipart/form-data">
                
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3 justify-content-center">Sign Up</p>
                        </div>
                        <div class="divider d-flex align-items-center my-4">
                                <p class="text-center fw-bold mx-3 mb-0"></p>
                        </div>

                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input required type="text" name="userName"  id="form3Example3" class="form-control form-control-lg"
                              placeholder="Enter your name" />
                            <label class="form-label" for="name">Full Name</label>
                          </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                                <input required type="text" name="email"  id="form3Example3" class="form-control form-control-lg"
                                  placeholder="Enter a valid email address" />
                                <label class="form-label" for="email">Email address</label>
                              </div>
              
                        <!-- Password input -->
                        <div class="form-outline mb-3">
                          <input required type="password" name="password" id="form3Example4" class="form-control form-control-lg"
                            placeholder="Enter password" />
                          <label class="form-label" for="password">Password</label>
                        </div>
                        
                        <!-- Profile Pic input -->
                        <div class="form-outline mb-4">
                            <input type="file" name="pic"  id="form3Example3" class="form-control form-control-lg"
                              placeholder="Upload pic" />
                            <label class="form-label" for="pic">Profile pic</label>
                          </div>

              
                        <div class="text-center text-lg-start mt-4 pt-2">
                          <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign Up</button>
                          <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="/user/login"
                              class="link-danger">Login</a></p>
                        </div>
              
                      </form>
                    </div>
                  </div>
                </div>
                </section>
         
<%- include('partials/footer'); %>
